*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
}

.background-gradient{
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(203, 218, 255, 1) 0%, rgba(94, 122, 193, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(203, 218, 255, 1) 0%, rgba(94, 122, 193, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(203, 218, 255, 1) 0%, rgba(94, 122, 193, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5E7AC1', endColorstr='#CBDAFF', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(203, 218, 255, 1) 0%, rgba(94, 122, 193, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, #cbdaff 0%, #5e7ac1 100%);

    border-radius: 0px 0px 30px 30px;
}
.gradient-text{
     /* ff 3.6+ */
     background:-moz-linear-gradient(111deg, rgba(94, 122, 193, 1) 0%, rgba(203, 218, 255, 1) 100%); 

     /* safari 5.1+,chrome 10+ */
     background:-webkit-linear-gradient(111deg, rgba(94, 122, 193, 1) 0%, rgba(203, 218, 255, 1) 100%);
 
     /* opera 11.10+ */
     background:-o-linear-gradient(111deg, rgba(94, 122, 193, 1) 0%, rgba(203, 218, 255, 1) 100%);
 
     /* ie 6-9 */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CBDAFF', endColorstr='#5E7AC1', GradientType=0 );
 
     /* ie 10+ */
     background:-ms-linear-gradient(111deg, rgba(94, 122, 193, 1) 0%, rgba(203, 218, 255, 1) 100%);
 
     /* global 94%+ browsers support */
     background:linear-gradient(111deg, rgba(94, 122, 193, 1) 0%, rgba(203, 218, 255, 1) 100%);
}
.aboutme{
    display: flex;
    margin: 4rem 6rem;
    background: var(--aboutme-gradient);
    border-radius: 20px;
    box-shadow: var(--about-border-shadow);
}
.services{
    margin: 4rem 6rem;
    background: var(--services-gradient);
    border-radius: 20px;
}